@model IEnumerable<PokerBot.Models.vHand>

@{
    ViewData["Title"] = "Hands";
}
<script>
    function minsize() {
        var minsize = $('#minsizetext').val()
        var winner = $('#winnertext').val()
        location.href = '/home/hands?id=&minSize=' + minsize + '&winner=' + winner
    }
</script>
<label>Min. Pot Size</label>
<input type="text" id="minsizetext" value="@ViewBag.minSize" />
<label>Winner</label>
<input type="text" id="winnertext" value="@ViewBag.winner" />
<button name="sizeFilter" onclick="minsize()">Filter</button>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <table>
                        @if (!(ViewBag.PrevHand.Equals("na") && ViewBag.NextHand.Equals("na")))
                        {
                            <tr>
                                <td>
                                    @if (!ViewBag.PrevHand.Equals("na"))
                                    {
                                        @Html.ActionLink("Prev. Hand", "Hands", "Home", new { ID = ViewBag.PrevHand }, new { @class = "col-sm-2" });
                                    }
                                    @if (!ViewBag.NextHand.Equals("na"))
                                    {
                                        @Html.ActionLink("Next. Hand", "Hands", "Home", new { ID = ViewBag.NextHand }, new { @class = "col-sm-2" });
                                    }
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                Hand
                            </td>
                            <td>
                                @Html.ActionLink(item.Number, "Hands", "Home", new { ID = item.Number })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Date
                            </td>
                            <td nowrap>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Winner
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Winner)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Amount
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.Raw(item.Data)
                </td>
            </tr>
            @if (!(ViewBag.PrevHand.Equals("na") && ViewBag.NextHand.Equals("na")))
            {
                <tr>
                    <td>
                        @if (!ViewBag.PrevHand.Equals("na"))
                        {
                            @Html.ActionLink("Prev. Hand", "Hands", "Home", new { ID = ViewBag.PrevHand }, new { @class = "col-sm-2" });
                        }
                        @if (!ViewBag.NextHand.Equals("na"))
                        {
                            @Html.ActionLink("Next. Hand", "Hands", "Home", new { ID = ViewBag.NextHand }, new { @class = "col-sm-2" });
                        }
                    </td>
                    <td>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
