@model IEnumerable<PokerBot.Models.vHand>

@{
    ViewData["Title"] = "Hall of Fame";
}

<h1>Hall of Fame</h1>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                Hand
                            </td>
                            <td>
                                @Html.ActionLink(item.Number, "Hands", "Home", new { ID = item.Number })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Date
                            </td>
                            <td nowrap>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Winner
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Winner)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Amount
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr>
                <td>
                    @Html.Raw(item.Data)
                </td>
            </tr>
        }
    </tbody>
</table>
