@model IEnumerable<PokerBot.Models.vHand>

@{
    ViewData["Title"] = "Hall of Fame";
}

<h1>Hall of Fame</h1>
<table class="table">
    <tbody>
        <tr>
            <th>Player</th>
            <th>HOF Hands</th>
        </tr>
        @{
            foreach (var winner in Model.GroupBy(m => m.Winner).Select(group =>
                 new { Player = group.Key, Count = group.Count() }).OrderByDescending(count => count.Count))
            {
                <tr>
                    <td>@winner.Player</td>
                    <td>@winner.Count</td>
                </tr>
            }
        }
    </tbody>
</table>
<h2>Hands</h2>
<table class="table">
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                Hand
                            </td>
                            <td>
                                @Html.ActionLink(item.Number, "Hands", "Home", new { ID = item.Number })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Date
                            </td>
                            <td nowrap>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Winner
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Winner)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Amount
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr>
                <td>
                    @Html.Raw(item.Data)
                </td>
            </tr>
        }
    </tbody>
</table>
